body{
    background-color: #f5f5dd;
}

.kwadrat{
    height: 150px;
    width: 150px;
    margin: 10px;

}

.kwadrat1{
    background:rgba(0, 0, 0, 1);
}

.kwadrat2{
    background:rgba(0, 0, 0, 0.75);
}
.kwadrat3{
    background:rgba(0, 0, 0, 0.5);
}

.kwadrat4{
    background:rgba(0, 0, 0, 0.25);
}